.row
  .large-12.columns
    p This is the partial for view 3.
    p <button ng-click="chiliSpicy()">chili</button> <button ng-click="jalapenoSpicy()">jalapeno</button> 
    p <input ng-model="customSpice">
    p <button ng-click="cSpice(customSpice)">custom</button> 
    p The food is {{spice}} spicy!
    p <button ng-click="newCtrl()">newCtrl</button> 
    p counter = {{counter}}

