.row
  .large-12.columns
    p This is the partial for view 2.
    p.
      Showing off 'interpolate' filter:
      {{ 'Current version is v%VERSION%.' | interpolate }}
    p rpc next returns: {{counter}}
