.row
  .large-12.columns
    h3 Admin Page

.row
  .large-3.columns
    p.secondary.label
      | Version 
      span(app-version)
  .large-3.columns
    .label Conn: {{serverConnection}}
    .secondary.label @ {{ serverTick | date:'HH:mm:ss' }}
