circuit-editor>svg
  border 1px solid lightgray
  
.iconfont
  text-anchor middle
  dominant-baseline central
  font-family FontAwesome
  font-size 15px
  
.gadget
  font-size 12px
  
  .outline
    stroke blue
    fill lightyellow
    fill-opacity .8
  .title
    fill gray
    text-anchor middle    
  .type
    fill blue
    text-anchor middle
  .pin
    // stroke blue
    // stroke-width 2px
    // fill lightgray
  .hit
    // fill: none
    // stroke lightgray
    // stroke-width 1px
    fill-opacity .2
    // fill red
  .in
    text-anchor start
  .out
    text-anchor end

.wire
  stroke black

#drag
  // stroke-width 2px
#drag.drawing
  stroke red
