// # '#fbea5b'
// # #dacfc0
// # #d8d8d8
// # #d2e38f
// # #757779
//#1f8dd6

jb-circuit-editor
  & > svg
    border 1px solid #d3d3d3

.iconfont
  text-anchor middle
  dominant-baseline central
  font-family FontAwesome
  font-size 20px

.gadget
  font-size 12px
  cursor default
  .gadget-container
    fill-opacity 0.8
    &.active
      stroke #808080
      stroke-width 2px
  .delete
    cursor pointer
  .title
    fill black
    text-anchor start
  .label
    fill #ccc
    text-anchor end
  .hit
    fill-opacity 0
    cursor pointer
  .in, .out
    text-anchor start
    opacity 0
    transition opacity 0.2s
  .pins.hover .in, .pins.hover .out
    opacity 1
    transition opacity 0.2s
  .pins.hover .hit
    stroke #1f8dd6
    stroke-width 1.5px
.wire
  stroke #808080
  stroke-width 1.5px
  cursor pointer

#drag
  &.drawing
    stroke #1f8dd6
    stroke-width 1.5px