// # '#fbea5b'
// # #dacfc0
// # #d8d8d8
// # #d2e38f
// # #757779

jb-circuit-editor
  & > svg
    border 1px solid #d3d3d3

.iconfont
  text-anchor middle
  dominant-baseline central
  font-family FontAwesome
  font-size 20px

.gadget
  font-size 12px
  cursor default
  .gadget-container
    fill-opacity 0.8
  .delete
    cursor pointer
  .title
    fill black
    text-anchor middle
  .type
    fill #ccc
    text-anchor end
  .hit
    fill-opacity 0
    cursor pointer
    &:hover
      stroke blue
  .in, .out
    text-anchor start

.wire
  stroke #808080
  stroke-width 1px

#drag
  &.drawing
    stroke #f00

.active
  stroke black
  stroke-width 2px
  stroke-opacity 0.3

