jb-circuit-editor > svg {
  border: 1px solid #d3d3d3;
}
.iconfont {
  text-anchor: middle;
  dominant-baseline: central;
  font-family: FontAwesome;
  font-size: 20px;
}
.gadget {
  font-size: 12px;
  cursor: default;
}
.gadget .gadget-container {
  fill-opacity: 0.8;
}
.gadget .delete {
  cursor: pointer;
}
.gadget .title {
  fill: #000;
  text-anchor: middle;
}
.gadget .type {
  fill: #ccc;
  text-anchor: end;
}
.gadget .hit {
  fill-opacity: 0;
  cursor: pointer;
}
.gadget .hit:hover {
  stroke: #00f;
}
.gadget .in,
.gadget .out {
  text-anchor: start;
}
.wire {
  stroke: #808080;
  stroke-width: 1px;
}
#drag.drawing {
  stroke: #f00;
}
.active {
  stroke: #000;
  stroke-width: 2px;
  stroke-opacity: 0.3;
}
