.row
  .large-12.columns
    h1 JeeBus

    table(cellpadding=10)
      tr
        td
          button(ng-click='echoTest()') RPC Echo
        td
          button(ng-click='dbGetTest()') RPC DB Get
        td
          button(ng-click='dbKeysTest()') RPC DB Keys
      tr
        td(colspan=3)
          | {{ message }} &nbsp;
