.row
  .large-12.columns
    h1 Blink

    table(cellspacing=0)
      tr
        td
          label(for='gl')
            input(type='checkbox',ng-model='green',id='gl',disabled)
            |  Green LED
        td
          label(for='rl')
            input(type='checkbox',ng-model='red',id='rl',disabled)
            |  Red LED
      tr
        td
          button(ng-mouseDown='button(1,1)',ng-mouseup='button(1,0)')
            | Button 1
        td
          button(ng-mouseDown='button(2,1)',ng-mouseup='button(2,0)')
            | Button 2
        td
          button(ng-click='test1()')
            | RPC Test 1

    p Count = {{ count }}
