.row
  .large-12.columns
    h1 Blink

    table(cellpadding=10)
      tr
        td
          input(type='checkbox',ng-model='greenLed',id='gl',disabled)
          Label(for='gl') Green LED
        td
          input(type='checkbox',ng-model='redLed',id='rl',disabled)
          Label(for='rl') Red LED
      tr
        td
          button(ng-mouseDown='button(1,1)',ng-mouseup='button(1,0)')
            | Button 1
        td
          button(ng-mouseDown='button(2,1)',ng-mouseup='button(2,0)')
            | Button 2

    p Count = {{ count }}
