extends ../../../jcw/jeebus/base/layout

//- block vars
//- block title

block styles
  link(rel='stylesheet',href='/style.css')
  link(rel='stylesheet',href='/circuits/circedit.css')

//- block nav
//- block main
//- block footer

prepend vendor
  script console.log('BEFORE vendor');

//- block startup

append scripts
  script console.log('AFTER scripts');
  script(src='/base/vendor/ee3.js')
  script(src='/circuits/circedit.js')
  script(src='/circuits/circuits.js')
  script(src='/demo/demo.js')
  script(src='/data/data.js')
