extends main/layout

block vars
  title= 'Tosqa'

prepend styles
  link(rel='stylesheet',href='/bower-foundation-css/foundation.css')
  script(src='/foundation/js/vendor/modernizr.js')

prepend scripts
  //- TODO: zepto is probably not enough for foundation
  script(src='/foundation/js/vendor/jquery.js')
  script(src='/foundation/js/foundation/foundation.js')
  script(src='/foundation/js/foundation/foundation.topbar.js')
  script.
    $(document).foundation();
  script(src='/angular/angular.js')
  script(src='/angular-animate/angular-animate.js')
  script(src='//angular-ui.github.io/ui-router/release/angular-ui-router.js')
  script(src='/raphael/raphael.js')

  //- script(src="diaged/tqNodes.js")

