.pure-g
  .pure-u-1
    h1 Circuit Editor
    select(ng-model='newtype',ng-options='k as k for (k,v) in gadgets') 
    button(ng-click='redraw()') Echo Test
    jb-circuit-editor(data='circuit',defs='gadgets')

.pure-g
  .pure-u-1-3
    table(ng-show='currSel',width='100%')
      thead
        tr(style='background:{{currSel.def.shade}}')
          th(colspan=2): h3 {{currSel.def.name}}
      tbody
        tr
          td: label.right.inline ID
          td: input(type='text',ng-model='currSel.id')
        tr
          td: label.right.inline Title
          td: input(type='text',ng-model='currSel.title')
        tr
          td: label.right.inline Type
          td: input(type='text',ng-model='currSel.type',readonly)
  .pure-u-2-3
    table.pure-table.pure-table-horizontal
      thead
        tr
          th Pin
          th Feeds
      tbody
        tr(ng-repeat='(pin,feeds) in circuit.feeds')
          td {{pin}}
          td
            table.pure-table
              tr(ng-repeat='row in feeds track by $index')
                td: div(contenteditable='true') {{row | json}}
                td: a(ng-click='delFeed(pin,$index)') -
        tr
          td Add:
          td: select(ng-model='addPin',ng-options='p for p in inputPins')
                option(value='') Select an input pin...
.pure-g
  .pure-u-1
    table.pure-table.pure-table-horizontal
      thead 
        tr 
          th id
          th gadget
      tbody
        tr(ng-repeat='(k,v) in circuit.gadgets')
          td {{k}}
          td {{v}}
