circuit-editor>svg
  border 1px solid lightgray
  
.gadget
  font-size 12px
  
  rect
    stroke blue
    stroke-width 1px
    fill white
    
  text.title
    fill gray
    text-anchor middle
    
  text.type
    fill blue
    text-anchor middle
    
  circle.pin
    // stroke blue
    // stroke-width 2px
    // fill lightgray

.wire
  fill none
  stroke gray
  stroke-width 0.5px
