circuit-editor>svg {
  border: 1px solid #d3d3d3;
}
.gadget {
  font-size: 12px;
}
.gadget .outline {
  stroke: #00f;
  stroke-width: 1px;
  fill: #fff;
  fill-opacity: 0.8;
}
.gadget .title {
  fill: #808080;
  text-anchor: middle;
}
.gadget .type {
  fill: #00f;
  text-anchor: middle;
}
.wire {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}
