.row
  .large-12.columns
    h3 Circuit Editor
    select(ng-model='type',ng-options='k as v.name for (k,v) in gadgets')
    jb-circuit-editor(data='circuit',defs='gadgets',type='type',select='currSel')

.row
  .large-4.columns
    table(ng-show='currSel',width='100%')
      tr(style='background:{{currSel.def.shade}}')
        th(colspan=2): h3 {{currSel.def.name}}
      tr
        td: label.right.inline ID
        td: input(type='text',ng-model='currSel.id')
      tr
        td: label.right.inline Title
        td: input(type='text',ng-model='currSel.title')
      tr
        td: label.right.inline Type
        td: input(type='text',ng-model='currSel.type',readonly)
      tr
        td: label.right.inline Width
        td: input(type='text',ng-model='currSel.def.width',readonly)
  .large-8.columns
    table
      tr
        th Pin
        th Feeds
      tr(ng-repeat='(pin,feeds) in circuit.feeds')
        td.right(valign='top') {{pin}}
        td
          table
            tr(ng-repeat='row in feeds track by $index')
              td: pre(contenteditable='true') {{row | json}}
              td(valign='top'): a(ng-click='delFeed(pin,$index)') -
      tr
        td.right Add:
        td: select(ng-model='addPin',ng-options='p for p in inputPins')
              option(value='') Select an input pin...
