.gadget

  rect
    stroke blue
    stroke-width 1px
    fill white

  text
    font-size 12px
  
  text.title
    fill gray
  
  text.type
    fill red

  circle.pin
    // stroke red
    // stroke-width 3px
