circuit-editor>svg
  border 1px solid lightgray
  
.iconfont
  text-anchor middle
  dominant-baseline central
  font-family FontAwesome
  font-size 18px
  
.gadget
  font-size 12px
  
  .outline
    stroke blue
    stroke-width 1px
    fill lightyellow
    fill-opacity .85
    
  .title
    fill gray
    text-anchor middle
    
  .type
    fill blue
    text-anchor middle
    
  .pin
    // stroke blue
    // stroke-width 2px
    // fill lightgray
  .in
    text-anchor start
  .out
    text-anchor end

.wire
  fill none
  stroke black
  stroke-width 1px
