.row
  .large-12.columns
    h3 Circuit Editor

    form
      select(ng-model='type')
        option(value="Pipe") Pipe
        option( value="Printer") Printer

    circuit-editor(data='circuit',defs='gadgets',type='type')
