.row
  .large-12.columns
    p This is the partial for view 4.
    p store in db on server key: <input ng-model="key">value: <input ng-model="value">
    p <button ng-click="addValue(key,value)">store</button> <button ng-click="addValue(key,null)">remove</button>     

    span {{remaining()}} of {{todos.length}} selected

      p <a href='', ng-click='archive()')>clear selected</a>

      ul.unstyled
        li(ng-repeat='todo in todos')
          input(type='checkbox', ng-model='todo.done')
          span {{todo.text}}
      p <input ng-model="todoText" placeholder="name"> <input ng-model="nodeType" placeholder="type (e.g. 'host', 'motor', 'host')">  <a href='', ng-click='addTodo()')> + </a>   

