.row
  .large-12.columns
    p This is the partial for view 5.
.row
  .large-9.columns
    p#diagram(style='border: 1px solid lightgray; height: 400px;')

  .large-3.columns
    :markdown
      **Notes**

      * Drag an output to an input to connect or vice-versa.
      * Double-click on a line to break the connection again.
      * Adding and removing lines is now tracked in the data structure.

    table.pure-table
      tr(ng-repeat='row in nodeData')
        td(ng-repeat='col in row')
          input.table-input(ng-model='row[$index]')

//- p {{nodes}}    
table
  tr
    th Id
    th First Name
    th Last Name
  tr(ng-repeat='node in nodes')
    td {{node.id}}
    td {{node.title}}
    td {{node.type}}



//- p <input ng-model="person.name" placeholder="Name"></input>